@import "tailwindcss";

@font-face {
  font-family: "Tossface";
  src: url("/fonts/TossFaceFontWeb.otf") format("opentype");
  font-display: swap;
}

.emoji {
  font-family: "Tossface", sans-serif;
}
